body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to bottom, #fff0c2 , #bf2710, #202328 );
}
.g3{
    display: flex;
    justify-content: center;
    position: relative;
    top: 10rem;
}
.grad {
  height: 1000px;
}
.start {
    font-family: Montserrat;
    position: relative;
    top: 15rem;
    display: flex;
    justify-content: center;
    color: #202328;
    font-weight: 32;
}
.container {
  display: flex;
  justify-content: center;
}
.log {
  background-color: #FFF0C2;
  padding: 20px 150px;
  border-radius: 20px;
  color: #202328;
  position: relative;
  bottom: 45rem;
  font-family: Montserrat;
}
.container2 {
  display: flex;
  justify-content: center;
}
.sign {
  background-color: #BF2710;
  padding: 20px 140px;
  border-radius: 20px;
  color: #202328;
  position: relative;
  bottom: 45rem;
  font-family: Montserrat;
}
.without {
  display: flex;
  justify-content: center;
  font-family: Montserrat;
  color: #FFF0C2 ;
}